<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>EyeEmMovement</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.7.3/jquery-ui.min.js"></script>
    <script src="http://api.maps.nokia.com/2.2.3/jsl.js?with=all" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="/application.js"></script>
    <link type="text/css" rel="stylesheet" href="/application.css"/>
    <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/ui-lightness/jquery-ui.css" />
  </head>
  <body style="margin:0px; padding:0px;">
    <div id='main'>
      <%=yield%>
    </div>
  </body>
</html>